= render 'partials/black_overlay'
.popup.campaign_enroll
  .popup_select
    = image_tag "btn_close.png", class: 'close_btn'
  -# 캠페인 화면 삽입용
  .popup_campaign 
  .popup_heading
    버즈로또권 적립방법
  .popup_txt
    앱을 설치하시면 
    %span.highlight.green
      로또권
    이 지급됩니다.
    %br
    캠페인 참여 완료 후 로또 등록이 가능합니다!
    %br
    %br
    .info
      \- 로또권은 알림 없이 자동 적립됨
      %br
      \- 이미 설치한 앱은 적립 안됨
      %br
      \- 로또권 지급은 최대 10분까지 늦을 수 있음
  .popup_btn
    -#cpi용 캠페인 참여
    = link_to (image_tag "btn/camp_campenroll.png", class: 'btn_mid'), '#', class: 'cpi_camp_enroll'
    -# 캠페인 참여
    = link_to (image_tag "btn/btn_cam.png", class: 'btn_l go_campaign'), '#', class: 'general_camp_enroll'
    -#cpi용 설치 확인
    = link_to (image_tag "btn/camp_installcheck_disabled.png", class: 'btn_l install_check'), '#', class: 'cpi_install_check'
    -# 로또 등록
    = link_to (image_tag "btn/camp_lotto_enroll.png", class: 'btn_r'), mypage_lotto_path 

:javascript
  $(function(){

  $(".btn_mid").click(function(){
    if (get_device() != "W") {
      validate_install_check();
    }
  });

  $(".install_check").click(function(){
    camp_install_check();
  });
  $(".campaign_enroll .popup_btn .btn_r").click(function(){
    $(".filter").css('display', 'none');
    $(".popup").css('display', 'none');
  });
  });
