%row.app_campaign
  .app_campaign_heading
    .heading_txt
      앱으로 로그인 하시면
      %br
      %span.highlight.green
      개 캠페인 더 참여가능합니다.
    %button.heading_btn
      = image_tag "ic_appdown.png"
      .btn_txt
        앱 설치 & 로그인 하기

  - @app_available_campaigns.each do |c|
    .available_campaign_list
      .available_campaign.thumbnail
        = image_tag c[:thumbnail]
      .available_campaign.title_type
        .available_campaign.title
          = c[:title]
        %div{class: "available_campaign type"}
          = image_tag "types/type#{c[:type]}.png"
      .available_campaign.coupon
        = image_tag "ic_b.png"
        .coupon_count
          = c[:coupon]
          장
