%row.lotto_footer_btn
  %button.lotto_auto_btn
    자동 입력
  %button.lotto_enroll_btn{disabled: true}
    등록하기

%row.lotto_heading

%row.lotto_field
  - (1..45).each do |c|
    - if @arr.include? c.to_s
      %div{class: "lotto_ball lotto_active_#{c}", onclick: "lotto_select($(this).attr('class'));"}
        %p.num
          = c
    - else
      %div{class: "lotto_ball lotto_inactive_#{c}", onclick: "lotto_select($(this).attr('class'));"}
        %p.num
          = c

%row.lotto_select_heading
  선택한 로또 번호

%row.lotto_select
  - (1..6).each do |i|
    %div{class: "lotto_selected ball_#{i}"}
      %p.num
        ?
  
= render 'partials/lotto_enroll'

:javascript
  $(function(){
    set_field([]);

    $(".lotto_footer_btn .lotto_enroll_btn").click(function(){
      if ( Cookies.get('ticket') == 1 ) {
        window.location.replace('/buzz/share');
      }
      else {
        lotto_popup();
      }

      //send to api
      purchase_lotto(balls);
    });

    //get user_data for popup
    var name = Cookies.get('username');
    var ticket = Cookies.get('ticket');

  $("row.lotto_heading").html(name + "님의 보유 로또권은 <span class='highlight green'>"+ticket+"장</span>입니다.");

    $("button.lotto_auto_btn").on('click', function(){
      lotto_auto_select();
    });
  });
