!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=0.8, user-scalable=no"}/
    %title Buzlotto
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src:"//developers.kakao.com/sdk/js/kakao.min.js"}
  %body{class: "#{controller_name}"}
    :javascript
      $(function(){
        var l = window.navigator.userAgent;

                if(l.indexOf("Version/") != -1) {
          l = l.split("Version/")[1].split(" ");
          if (parseInt(l[0]) < 5) {
            alert("지원하지 않는 브라우저 버전입니다. Chrome 등을 이용해주세요.");
          }
        }
        else if(l.indexOf("MSIE") != -1) {
          l = l.split("MSIE ")[1].split(";");
          if (parseInt(l[0]) < 9) {
            alert("지원하지 않는 브라우저 버전입니다. Internet Explorer 버전 업데이트 또는 Chrome 등을 이용해주세요.");
          }
        }
      });
    = render 'layouts/nav'
    .container
      = yield

